*.png
*.mp4
venv
.pyc
*.DS_Store
__pycache__
*.vscode*
*data/results
temp_tm
*data/
*.tar
*.bz2
temp_results/
results/
*.sh
*.csv
*.pdf
*.png
*.txt
*.ipynb
*.ipynb_checkpoints*
sim_config/
temp/*
gurobi.log
TMgen/

